@font-face {
    font-family: myFirstFont;
    src:url("font.otf");
  }


.toplist{
width: 25%;
font-family: myFirstFont;
}
.midlist{
  width: 15%;
  font-family: myFirstFont;
  }




#topest{  
    border-color: #136a8a;
    width: 100%;
    background-color: #136a8a;
    height: 40px;
    padding: 0%,0%,0%,0%;
    margin: 0;
}
#midset{  
  border-color: #2299c5;
  background-color: #3a8e8e;
  height: 20px;
}
#icon01{
    height: 40px;
    padding: 0%;
}
#mul{
  padding: 0;
}
#vid{
  float:right;
  position: relative;
}







body {
    background: #ABCDEF;
    font-family:myFirstFont;
    min-height: 90vh;
  }
  footer {
    position: absolute;
    color: #136a8a;
    bottom: 10px;
    padding-left: 20px;
  }
  footer p {
    display: inline;
  }
  footer a {
    color: green;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer .heart {
    color: #B22222;
    font-size: 1.5em
  }