@font-face {
    font-family: myFirstFont;
    src:url("font.otf");
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: MyFirstFont;
  }
#vid{
  float: right;
}
#imm{
  width: 10%;
}







.c #d {
  width:100px;
}
.tablink1 {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 6%;
}
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  footer {
    position: absolute;
    color: #136a8a;
    bottom: 10px;
    padding-left: 20px;
  }
  footer p {
    display: inline;
  }
  footer a {
    color: green;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }

  footer .heart {
    color: #B22222;
    font-size: 1.5em
  }
